__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.vscode/
results/
medical/
*.png
*.jpg
*.jpeg
*.pdf
sn-article-temp.*
*.log
*.aux
*.out
*.toc
*.blg
*.bbl
